{% extends 'templates/user/app.twig' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
        	<div class="hero-content text-center">
          		<h1>Official College Week!</h1>
                	<p class="intro">Introducing “AVE- VOTING SYSTEM”. A responsive platform, designed & developed exclusively for Landmark University.</p>
                     	<a href="#" class="btn btn-fill btn-large btn-margin-right">Download</a> <a href="#" class="btn btn-accent btn-large">Learn more</a>
            </div>
        </div>
    </div>
</div>
<div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
{% endblock %}